In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('recent_ac_submissions.csv')

In [6]:
df.head()

,id,title,titleSlug,timestamp,lang,statusDisplay,runtime,memory,username,runtime_val,memory_val,overall_score
0,939811863,Add Digits,add-digits,1682476232,python,Accepted,17 ms,13.3 MB,Vigneshwar_RR,17,13.3,30.3
1,1810688695,Best Time to Buy and Sell Stock,best-time-to-buy-and-sell-stock,1761337698,python3,Accepted,27 ms,27 MB,Vigneshwar_RR,27,27.0,54.0
2,943329928,Combination Sum,combination-sum,1683045286,python,Accepted,42 ms,13.3 MB,Vigneshwar_RR,42,13.3,55.3
3,941963384,Container With Most Water,container-with-most-water,1682834793,python,Accepted,562 ms,23.9 MB,Vigneshwar_RR,562,23.9,585.9
4,1677643575,Contains Duplicate,contains-duplicate,1750968050,python3,Accepted,16 ms,31.5 MB,Vigneshwar_RR,16,31.5,47.5

In [ ]:
'0.0B'.split()

['52', 'ms']

In [8]:
df['runtime_val'] = df['runtime'].apply(lambda x: int(x.split()[0]))
df['memory_val'] = df['memory'].apply(lambda x: float(x.split()[0]))
df.sort_values(by=['username', 'titleSlug', 'runtime_val', 'memory_val'], ascending=[True, True , True, True], inplace=True)

In [9]:
df.drop_duplicates(subset=['username', 'titleSlug'], keep='first')[['username', 'titleSlug', 'lang', 'runtime', 'memory', 'timestamp']]

df['overall_score'] = df['runtime_val'] + df['memory_val']

In [10]:
df_overall_rank = df.groupby('username')['overall_score'].sum().reset_index().sort_values(by='overall_score')

In [11]:
df_overall_rank

        username  overall_score
2  yashwanth1129         1054.9
0  Vigneshwar_RR         1640.9
1     madhavan02         4108.4