In [51]:
import pandas as pd

In [52]:
df = pd.read_csv('recent_ac_submissions.csv')

In [53]:
df.head()

,id,title,titleSlug,timestamp,lang,statusDisplay,runtime,memory,username
0,1824567270,Interleaving String,interleaving-string,1762647503,python3,Accepted,52 ms,17.9 MB,madhavan02
1,1823628459,Reverse Linked List,reverse-linked-list,1762551773,python3,Accepted,0 ms,18.5 MB,madhavan02
2,1823609770,Container With Most Water,container-with-most-water,1762549093,python3,Accepted,35 ms,28.4 MB,madhavan02
3,1823601593,Two Sum II - Input Array Is Sorted,two-sum-ii-input-array-is-sorted,1762547997,python3,Accepted,0 ms,18.5 MB,madhavan02
4,1823493489,Remove Duplicates from Sorted List,remove-duplicates-from-sorted-list,1762537836,python3,Accepted,0 ms,17.7 MB,madhavan02

In [54]:
df.columns

Index(['id', 'title', 'titleSlug', 'timestamp', 'lang', 'statusDisplay',
       'runtime', 'memory', 'username'],
      dtype='object')

In [55]:
df['runtime_val'] = df['runtime'].str.replace(' ms', '').astype(int)
df['memory_val'] = df['memory'].str.replace(' MB', '').astype(float)
df.sort_values(by=['username', 'titleSlug', 'runtime_val', 'memory_val'], ascending=[True, True , True, True], inplace=True)

In [ ]:
df.drop_duplicates(subset=['username', 'titleSlug'], keep='first')[['username', 'titleSlug', 'lang', 'runtime', 'memory', 'timestamp']]

df['overall_score'] = df['runtime_val'] + df['memory_val']

In [59]:
df_overall_rank = df.groupby('username')['overall_score'].sum().reset_index().sort_values(by='overall_score')

In [60]:
df_overall_rank

        username  overall_score
2  yashwanth1129         1127.8
0  Vigneshwar_RR         1640.9
1     madhavan02         5032.4